nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(72, 123, 146);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.pdetails {
  color: rgb(18, 88, 105);
  text-align: center;
  align-items: center;
  display: flex;
}